# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# Environment & Secrets
.env
.env.local

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Large Model Files & Datasets
backend/model/*.keras
backend/model/*.h5
notebook/*.keras
notebook/*.h5
data/
